.icon {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.icon img {
  width: 100px;
  height: 100px;
}

.icon p {
  margin-top: 5px;
}

.icon-list {
  display: none; /* Hide the container by default */
}

.show .icon-list {
  display: block; /* Show the container when it has the "show" class */
}